.CSSTableGenerator {
  margin:0px;padding:0px;
 /* width:70%; */
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;

  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;

  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;

  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;

  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.CSSTableGenerator table {
  width:100%;
  margin:0px;padding:0px;
}

.CSSTableGenerator .doa,.dob {
  width: 9%;
}

.CSSTableGenerator .name,.med_his,.surg_his,.diag {
  width: 15%;
}

.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}

.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}

.CSSTableGenerator tr:last-child td:first-child {
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}
.CSSTableGenerator tr:hover td {
  background-color:#d3e9ff;
}
.CSSTableGenerator td {
  vertical-align:middle;
    background:-o-linear-gradient(bottom, #ffffff 5%, #d3e9ff 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #d3e9ff) );
  background:-moz-linear-gradient( center top, #ffffff 5%, #d3e9ff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#d3e9ff");  background: -o-linear-gradient(top,#ffffff,d3e9ff);

  background-color:#ffffff;

  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:Arial;
  font-weight:bold;
  color:#000000;
}
.CSSTableGenerator tr:last-child td {
  border-width:0px 1px 0px 0px;
}
.CSSTableGenerator tr td:last-child {
  border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
  border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td {
    background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );
  background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");  background: -o-linear-gradient(top,#0057af,007fff);

  background-color:#0057af;
  border:0px solid #000000;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:14px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td {
  background:-o-linear-gradient(bottom, #0057af 5%, #007fff 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0057af), color-stop(1, #007fff) );
  background:-moz-linear-gradient( center top, #0057af 5%, #007fff 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#0057af", endColorstr="#007fff");  background: -o-linear-gradient(top,#0057af,007fff);

  background-color:#0057af;
}
.CSSTableGenerator tr:first-child td:first-child {
  border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child {
  border-width:0px 0px 1px 1px;
}

body {
  margin:auto;
  width:70%;
  background-color:#b0e0e0;
}

[type=button], [type=submit] {
  /*width: 200;*/
  height: 30;
  /*margin: 5;*/
  ckground:-webkit-gradient( linear, left top, left bottom,
    color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf'    , endColorstr='#ededed');
  background-color:#dfdfdf;

}

#Container {
  text-align: left;
  margin: 0 auto 10px auto;
  background: #d3e9ff;
  border: 1px solid #0057af;
}

header {
  display: inline-block;
  clear: both;
  margin: 0 0 5px 0;
  padding: 0 1% 1.1em 1%;
  border-bottom: 1px dotted #ccc;
}

.info {
  padding: 0;
}

li select {
  width: 10%;
}

li label {
  padding: 6px 1% 9px 1%;
  font-weight: bold;
}

li {
  display: block;
  padding: 6px 1% 9px 1%;
  clear: both;
  background-color: transparent;
  position: relative;
  -webkit-transition: background-color 350ms ease-out;
}
